# Exercise 1. - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out [Occupation Exercises Video Tutorial](https://www.youtube.com/watch?v=W8AB5s-L3Rw&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=4) to watch a data scientist go through the exercises

### Step 1. Import the necessary libraries!

In [21]:
import numpy as py
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [22]:
users = pd.read_csv("student-mat.csv")

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [23]:
users["user_id"] = range(1, len(users) + 1)
users.set_index("user_id", inplace=True)

### Step 4. See the first 25 entries

In [24]:
print(users.head(25))

        school sex  age address famsize Pstatus  Medu  Fedu      Mjob  \
user_id
1           GP   F   18       U     GT3       A     4     4   at_home
2           GP   F   17       U     GT3       T     1     1   at_home
3           GP   F   15       U     LE3       T     1     1   at_home
4           GP   F   15       U     GT3       T     4     2    health
5           GP   F   16       U     GT3       T     3     3     other
6           GP   M   16       U     LE3       T     4     3  services
7           GP   M   16       U     LE3       T     2     2     other
8           GP   F   17       U     GT3       A     4     4     other
9           GP   M   15       U     LE3       A     3     2  services
10          GP   M   15       U     GT3       T     3     4     other
11          GP   F   15       U     GT3       T     4     4   teacher
12          GP   F   15       U     GT3       T     2     1  services
13          GP   M   15       U     LE3       T     4     4    health
14          GP   M   15       U     GT3       T     4     3   teacher
15          GP   M   15       U     GT3       A     2     2     other
16          GP   F   16       U     GT3       T     4     4    health
17          GP   F   16       U     GT3       T     4     4  services
18          GP   F   16       U     GT3       T     3     3     other
19          GP   M   17       U     GT3       T     3     2  services
20          GP   M   16       U     LE3       T     4     3    health
21          GP   M   15       U     GT3       T     4     3   teacher
22          GP   M   15       U     GT3       T     4     4    health
23          GP   M   16       U     LE3       T     4     2   teacher
24          GP   M   16       U     LE3       T     2     2     other
25          GP   F   15       R     GT3       T     2     4  services

             Fjob  ... famrel freetime  goout  Dalc  Walc health absences  G1  \
user_id            ...
1         teacher  ...      4        3      4     1     1      3        6   5
2           other  ...      5        3      3     1     1      3        4   5
3           other  ...      4        3      2     2     3      3       10   7
4        services  ...      3        2      2     1     1      5        2  15
5           other  ...      4        3      2     1     2      5        4   6
6           other  ...      5        4      2     1     2      5       10  15
7           other  ...      4        4      4     1     1      3        0  12
8         teacher  ...      4        1      4     1     1      1        6   6
9           other  ...      4        2      2     1     1      1        0  16
10          other  ...      5        5      1     1     1      5        0  14
11         health  ...      3        3      3     1     2      2        0  10
12          other  ...      5        2      2     1     1      4        4  10
13       services  ...      4        3      3     1     3      5        2  14
14          other  ...      5        4      3     1     2      3        2  10
15          other  ...      4        5      2     1     1      3        0  14
16          other  ...      4        4      4     1     2      2        4  14
17       services  ...      3        2      3     1     2      2        6  13
18          other  ...      5        3      2     1     1      4        4   8
19       services  ...      5        5      5     2     4      5       16   6
20          other  ...      3        1      3     1     3      5        4   8
21          other  ...      4        4      1     1     1      1        0  13
22         health  ...      5        4      2     1     1      5        0  12
23          other  ...      4        5      1     1     3      5        2  15
24          other  ...      5        4      4     2     4      5        0  13
25         health  ...      4        3      2     1     1      5        2  10

         G2  G3
user_id
1         6   6
2         5   6
3         8  10
4        14  15
5        10  10
6        15  15
7        12  11
8         5   6
9        18  19
10       15  15
11        8   9
12       12  12
13       14  14
14       10  11
15       16  16
16       14  14
17       14  14
18       10  10
19        5   5
20       10  10
21       14  15
22       15  15
23       15  16
24       13  12
25        9   8

[25 rows x 33 columns]

### Step 5. See the last 10 entries

In [25]:
users.tail(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
user_id,,,,,,,,,,,,,,,,,,,,,
386,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
387,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
388,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
389,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
390,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
391,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
392,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
393,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
394,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
395,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Step 6. What is the number of observations in the dataset?

In [26]:
users.shape[0]

395

### Step 7. What is the number of columns in the dataset?

In [27]:
users.shape[1]

33

### Step 8. Print the name of all the columns.

In [28]:
users.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

### Step 9. How is the dataset indexed?

In [29]:
users.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       386, 387, 388, 389, 390, 391, 392, 393, 394, 395],
      dtype='int64', name='user_id', length=395)

### Step 10. What is the data type of each column?

In [30]:
users.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

### Step 11. Print only the occupation column

In [31]:
print(users["Fjob"])

user_id
1       teacher
2         other
3         other
4      services
5         other
         ...
391    services
392    services
393       other
394       other
395     at_home
Name: Fjob, Length: 395, dtype: object

In [32]:
print(users.columns)

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

### Step 12. How many different occupations are in this dataset?

In [33]:
users["occupation"].nunique()

KeyError: 'occupation'

### Step 13. What is the most frequent occupation?

In [ ]:
users["occupation"].value_counts().idxmax()

### Step 14. Summarize the DataFrame.

In [ ]:
users.describe(include="all")

### Step 15. Summarize all the columns

In [ ]:
users.describe(include="all")

### Step 16. Summarize only the occupation column

In [ ]:
users["occupation"].describe()

### Step 17. What is the mean age of users?

In [ ]:
users["age"].mean()

### Step 18. What is the age with least occurrence?

In [ ]:
users["age"].value_counts().tail(1)